<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo usuario</title>
    <div th:insert="fragments/fragments.html :: estilos"></div>
    <div th:insert="fragments/fragments.html :: scripts"></div>
    <link rel="icon" href="https://img.freepik.com/vector-premium/icono-edificio-banco-oscuridad_116137-4384.jpg"
        type="image/jpg">
</head>

<body>
    <div th:insert="fragments/fragments.html :: cabecera"></div>
    <div th:insert="fragments/fragments.html :: menu-desplegable"></div>
    <main>
        <h2>Nuevo Usuario</h2>
        <div class="form-t1">
            <form th:action="@{/usuarios/new/submit}" th:object="${usuario}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="campo">
                    <p>Nombre: </p>
                    <input type="text" id="nombre" th:field="*{nombre}">
                </div>
                <div class="campo">
                    <p>contraseña: </p>
                    <input type="password" id="contrasena" th:field="*{password}">
                </div>
                <input type="hidden" id="fechaRegistro" th:field="*{fechaRegistro}">
                <div  class="buttons">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
</body>

</html>