<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error403</title>
    <div th:insert="fragments/fragments.html :: estilos"></div>
    <div th:insert="fragments/fragments.html :: scripts"></div>
    <link rel="icon" href="https://img.freepik.com/vector-premium/icono-edificio-banco-oscuridad_116137-4384.jpg"
        type="image/jpg">
</head>

<body>
    <div th:insert="fragments/fragments.html :: cabecera"></div>
    <div th:insert="fragments/fragments.html :: menu-desplegable"></div>
    <main>
        <div class="form-t1">
            <h2>Error 403</h2>
            <p>No tienes permisos para acceder a esta página</p>
            <a th:href="@{/public/home}" style="font-size: 20px;">Volver al inicio</a>
        </div>
    </main>
</body>

</html>