<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Cuenta</title>
    <link rel="stylesheet" href="/header.css"/>
    <link rel="stylesheet" href="/form.css"/>
    <link rel="stylesheet" href="/footer.css"/>
    <link rel="stylesheet" href="/global.css"/>
    <link rel="stylesheet" href="/main-display-menu.css"/>
    <script src="/main-display-menu.js"></script>
    <link rel="icon" href="https://img.freepik.com/vector-premium/icono-edificio-banco-oscuridad_116137-4384.jpg" type="image/jpg">
</head>
<body>
    <div th:insert="fragments/fragments.html :: cabecera"></div>
    <div id="espacio"></div>
    <div th:insert="fragments/fragments.html :: menu-desplegable"></div>
    <main>
        <h2>Nueva Cuenta</h2>
        <form action="#" th:action="@{/cuentas/create/submit}" th:object="${cuenta}" method="post">
            <div class="campo"><p>IBAN:</p><input type="text" th:field="*{IBAN}" /></div>
            <span class="error" th:errors="*{IBAN}"></span>
            <div class="campo"><p>Alias:</p><input type="text" th:field="*{alias}" /></div>
            <span class="error" th:errors="*{alias}"></span>
            <div class="campo"><p>Saldo:</p><input type="text" th:field="*{saldo}" readonly/></div>
            <div class="buttons"><input type="submit" value="Submit" />
                <input type="reset" value="Reset" id="resetButton"/>
            </div>
        </form>
    </main>
</body>
</html>