<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="icon" href="/img/public/header/icono.png" type="image/jpg">
    <div th:insert="~{/public/fragments/mainFragments.html :: public-styles}"></div>
    <link rel="stylesheet" th:href="@{/css/public/table.css}">
</head>

<body>
    <header th:replace="~{/public/fragments/mainFragments.html :: header}"></header>
    <main class="maint2">
        <h2>Orders</h2>
        <div id="tableAccounts">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>PC ID</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pedido: ${pedidos}">
                        <td th:text="${pedido.id}"></td>
                        <td th:text="${pedido.usuarioId}"></td>
                        <td th:text="${pedido.ordenadorInfoId}"></td>
                        <td th:text="${pedido.precio}"></td>
                        <td th:text="${pedido.fechaPedido}"></td>
                        <td><a th:href="@{/pedido/details/{id}(id=${pedido.ordenadorInfoId})}">Details</a></td>
                        <td><a th:href="@{/pedido/edit/{id}(id=${pedido.id})}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer th:replace="~{/public/fragments/mainFragments.html :: footer}"></footer>
</html>