<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:insert="fragments/fragments.html :: estilos"></div>
    <div th:insert="fragments/fragments.html :: scripts"></div>
    <link rel="icon" href="https://img.freepik.com/vector-premium/icono-edificio-banco-oscuridad_116137-4384.jpg" type="image/jpg">
</head>
<body>
    <div th:insert="fragments/fragments.html :: cabecera"></div>
    <div id="espacio"></div>
    <div th:insert="fragments/fragments.html :: menu-desplegable"></div>
    <main>
        <h2>¿Estás seguro de que quieres desconectarte?</h2>
        <div id="form-t1">
            <form th:action="@{/logout}" method="post">
                <div class="form-botton">
                    <input type="submit" value="Logout" />
                </div>
            </form>
        </div>
    </main>
</body>

</html>