<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de moneda</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/form.css">
</head>

<body>
    <h1>Cambio de moneda</h1>
    <form method="post" action="#" th:action="@{/cambioMoneda}" th:object="${formInfo}">
        <label>Importe: <input type="text" id="importe" th:field="*{importe}" /> </label><br />
        <p>Seleccione una moneda de Origen</p><br>
        <select id="monedaOrigen" name="monedaOrigen" th:field="*{monedaOrigen}">
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
            <option value="JPY">JPY</option>
        </select>
        <p>Seleccione una moneda de Destino</p><br>
        <select id="monedaDestino" name="monedaDestino" th:field="*{monedaDestino}">
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
            <option value="JPY">JPY</option>
        </select>
        <input type="submit" value="Enviar" class="buttons"/>
    </form>
    <span th:text="${error}">Error</span>
</body>

</html>