#tableAccounts {
    background-color: rgba(255, 255, 255, 0.733);
    width: 80%;
    margin: 0 auto;
    padding: 50px 20px 30px 20px;
    width: 800px;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    color: #000000;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    width : 90%;
    text-align: center; 
    border-radius: 20px;
}
table a{
    color: #002975;
}
thead{
    color: white;
    background-color: #333333;
}

tr{
    border-bottom: #000000 solid 2px;
}
td{
    padding: 10px;
}

.buttonType2{
    display: inline-flex;
    margin: 5vh 0 10vh 15vw;
    text-align: center;
}

.buttonType2 a{
    color: white;
    width: 15vw;
    padding: 0.5vw;
    background-color: rgb(4, 65, 4);
    border: 1px solid  rgb(4, 65, 4);
    margin-bottom: 3em;
    border-radius: 0.3em;
}

#icon{
    width: 20px
}
.contraseña{
   display: flex;
   align-items: center;
    justify-content: center;
   gap: 20px;
}
.contraseña p{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#icon:hover{
    cursor: pointer;
}