<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmentos</title>
</head>
<body>
    <header class="main-header" th:fragment="cabecera">
        <div class="logo">
            <h1>KAS CLINICA</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a th:href="@{/home}">LISTA PACIENTES</a></li>
                <li><a th:href="@{/newPaciente}">NUEVO PACIENTE</a></li>
            </ul>
        </nav>
    </header>
    <footer class="main-footer" th:fragment="pie">
        <p>© 2023 KAS CLINIC</p>
    </footer>
</body>
</html>