<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Empleado</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/form.css">
</head>

<body>
    <div th:insert="~{fragments/fragments.html :: cabecera}"></div>
    <main>
        <h2>Nuevo empleado</h2>
        <form method="post" action="#" th:action="@{/nuevo/submit}" th:object="${empleadoForm}">
            <div class="campo">
                <input type="hidden" id="id" th:field="*{id}" />
            </div>
            <div class="error"><span th:text="${idError}"></span></div>

            <div class="campo">
                <p>Nombre:</p> 
                <input type="text" id="nombre" th:field="*{nombre}" />
            </div>
            <div class="error"><span th:text="${idNombre}"></span></div>

            <div class="campo">
                <p>Genero</p>
                <select id="genero" th:field="*{genero}">
                    <option value="HOMBRE" checked>Hombre</option>
                    <option value="MUJER">Mujer</option>
                    <option value="OTRO">Otro</option>
                </select>
            </div>

            <div class="campo">
                <p>Email:</p>
                <input type="text" id="email" th:field="*{email}" />
            </div>
            <div class="error"><span th:text="${emailError}"></span></div>

            <div class="campo">
                <p>Salario:</p>
                <input type="text" id="salario" th:field="*{salario}" />
            </div>
            <div class="error"><span th:text="${salarioError}"></span></div>

            <div class="campo">
                <p>Activo:</p>
                <label>Si
                    <input type="radio" id="activo" th:field="*{enActivo}" value="true" checked/>
                </label>
                <label>No
                    <input type="radio" id="inactivo" th:field="*{enActivo}" value="false"/>
                </label>
            </div>
            <div class="boton">
                <input type="submit" value="Enviar"/>
            </div>
        </form>
    </main>
    <div th:insert="~{fragments/fragments.html :: pie}"></div>
</body>

</html>