#section-1{
    justify-content: space-between;
    align-items: center;
    background-color: #000007;
    height: 83.5vh;
    gap: 20px;
    color:rgb(255, 255, 255);
    font-size: 1.5em;
}
#section-1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70vh;
}

@font-face {
    font-family: 'XHARPDemoRegular';
    src: url('/fonts/XHARPDemoRegular.ttf') format('truetype');
}
#section-1 h2 {
    font-size: 1.5em;
    margin: 0.25em;
    font-size: bold;
    font-family: 'Console', monospace;
    text-align: left;
    margin-left: 0;
}

#section-1 h2:first-child{
    color:#df4e15;
    font-size: 2.8em;
    text-align: left;
}
#section-1 video{
    border-radius: 40px;
}
#section-1 p{
    font-family: 'Console', monospace;
}

#section-1 button{
    background-color: #df4e15;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#section-1 button:hover {
    transition-duration: 0.4s;
    background-color: #ffffff;
    color: black;
}