body{
    padding: 0; margin: 0; box-sizing: border-box;
    font: 0.8em 'Roboto', sans-serif, Arial;
    background-color: #0a0b3f; color: #000000;
    background-image: url("../../img/public/body/body-wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    height: 100vh;
    width: 75%;
    min-width: 1100px;
    background-color: #f0f0f0fd;
}

#cookie-notice {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e9e9e9;
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

#cookie-notice p {
    margin: 0 0 10px 0;
    color: #333;
}

#cookie-notice button {
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #003169; 
    border: none;
}

#cookie-notice button:hover {
    background-color: #f89728;
}

#cookie-notice  img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    vertical-align: middle;
}


#lateral-socials{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80px;
    height: 390px;
    cursor: pointer;
    position: fixed;
    border-left: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 15vh;
    transition: transform 0.2s ease-out;
}
#lateral-socials1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 38, 128, 0.808);
    border: 1px solid rgba(0, 38, 128, 0.808);
    height: 100%;
    gap: 5px;
    width:60px;
}

#lateral-socials2{
    height: 120px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(8, 64, 196, 0.808);
    border-radius: 0 10px 10px 0;
}


#lateral-socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    cursor: pointer;
}


#lateral-socials2 a img{
    width: 20px;
    height: 25px;
}
#lateral-socials1 a img{
    width: 25px;
    height: 25px;
    filter: brightness(120%);
}


.hide-lateral-socials{
    transform: translateX(-75%);
    transition: transform 0.2s ease-out;
}