<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmentos</title>
</head>
<body>
    <div th:fragment="public-styles">
        <link rel="stylesheet" th:href="@{/css/public/header.css}">
        <link rel="stylesheet" th:href="@{/css/public/displayableMenu.css}">
        <link rel="stylesheet" th:href="@{/css/public/footer.css}">
        <link rel="stylesheet" th:href="@{/css/public/general.css}">
    </div>

    <div th:fragment="public-scripts">
        <script th:src="@{/js/displayable-menu.js}"></script>
    </div>

    <header th:fragment="header">
        <div id="upper-container">
            <ul id="header-div">
                <li id="logo-container">
                    <img src="/img/public/header/logo.png" alt="logo" id="logo">
                </li>
                <li id="movement-text-container">
                    <nav id="header-nav">
                        <ul>
                            <li class="na" id="pc-maker"><a href="/public/buildPc">BUILD A PC</a></li>
                            <li class="na" id="store">GALLERY</li>
                            <li class="na" id="home">ABOUT US</li>
                        </ul>
                    </nav>
                <li id="menu2">
                    <ul id="user-option-list">
                        <li class="mo" id="login">
                            <a href="#" id="login-link">LOGIN</a>
                        </li>
                        <li class="mo normal" id="home">
                            <a href="/public/home">
                                <img src="/img/public/header/home.png" alt="send-box-logo" id="home" class="smallt2">
                            </a>
                        </li>
                        <li class="mo normal" id="nest">
                            <img src="/img/public/header/carrito.png" alt="item-nest" id="carrito" class="small">
                        </li>
                        <li class="mo normal" id="help">
                            <img src="/img/public/header/help.png" alt="help-icon" id="help" class="small">
                        </li>
                        <li class="no" id="profile-view"><a href="/public/login.html">
                            <img src="/img/public/header/profile.png" alt="profile-logo" id="profile"/></a></li>
                        <li>
                            <div id="hamburguer-menu">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <aside id="lateral-socials" th:fragment="lateral-socials">
        <div id="lateral-socials1">
            <a href="#"><img src="/img/public/main/lateral-socials/facebook.png" alt="facebook"></a>
            <a href="#"><img src="/img/public/main/lateral-socials/instagram.png" alt="instagram"></a>
            <a href="#"><img src="/img/public/main/lateral-socials/whatsapp.png" alt="whatsapp"></a>
            <a href="#"><img src="/img/public/main/lateral-socials/youtube.png" alt="youtube"></a>
            <a href="#"><img src="/img/public/main/lateral-socials/x.png" alt="x"></a>
            <a href="#"><img src="/img/public/main/lateral-socials/phone.png" alt="youtube"></a>
        </div>
        <div id="lateral-socials2" class="arrow"><a><img id="arrow-image" src="/img/public/main/lateral-socials/arrow2.png" alt="facebook"></a></div>
    </aside>

    <footer th:fragment="footer">
        <div id="partnership-band"></div>
        <div id="footer-content">
            <div id="footer-content1">
                <div class="footer-type1">
                    <h3>OUR SERVICES</h3>
                    <ul>
                        <li><a href="#">Build a PC</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Customize</a></li>
                        <li><a href="#">PC of the year</a></li>
                    </ul>
                </div>
                <div class="footer-type1">
                    <h3>ABOUT US</h3>
                    <ul>
                        <li><a href="#">About PC ALL</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Work with us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of use</a></li>
                    </ul>
                </div>
                <div class="footer-type1">
                    <h3>HELP</h3>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order Status</a></li>
                    </ul>
                </div>
                <div class="footer-type2">
                    <h3>PAYMENT METHODS</h3>
                    <div>
                        <img class="card-icon" src="/img/public/footer/visa.png" alt="visa">
                        <img class="card-icon" src="/img/public/footer/paypal.png" alt="visa">
                        <img class="card-icon" src="/img/public/footer/googlepay.png" alt="visa">
                        <img class="card-icon" src="/img/public/footer/applepay.png" alt="visa">
                    </div>
                </div>
            </div>
        </div>
        <p>© 2024 PC ALL. All rights reserved</p>
    </footer>
</body>
</html>