<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" th:action="@{/categorias/new/submit}" th:object="${categoria}" method="post">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" th:field="*{id}"><br>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>