header {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 5px 0;
    top: 0;
    left: 0;
    box-shadow: 0 15px 15px -10px #ffffff69;
}

.logo {
    display: flex;
    align-items: center;
    width: 400px;
}

#imagen-logo {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
}

header>div:nth-of-type(odd) {
    margin: 0 50px
}

h1,
h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5em
}

nav a {
    display: flex;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-left: 3vw
}

ul {
    list-style: none
}

li {
    display: inline-block;
    padding: 10px
}

nav a:hover {
    background-color: #000000;
    color: #333
}

header>div:first-child,
#panel2 {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 10px
}

.sesion a {
    color: #ffffff
}

.sesion a:hover {
    color: #ffa200
}

#hamburguer-menu {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.line {
    width: 32px;
    height: 2px;
    background-color: #ffffff
}

#hamburguer-menu:hover {
    cursor: pointer
}

#hamburguer-menu:hover .line {
    background-color: #d4d4d4
}

#hamburguer-menu:active .line {
    scale: 0.9
}

#icon:hover {
    cursor: pointer
}

#login-link {
    color: #ffffff;
    font-weight: bold;
}

#login-link:hover {
    color: #0059ff
}

#logout-link {
    color: #a80000;
    font-weight: bold;
}

#logout-link:hover {
    color: #f00
}

#user-name {
    display: flex;
    align-items: center;
    gap: 10px
}