<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUILD PC</title>
    <link rel="icon" href="/img/public/header/icono.png" type="image/jpg">
    <div th:insert="~{/public/fragments/mainFragments.html :: public-styles}"></div>
    <link rel="stylesheet" th:href="@{/css/public/buildPcForm.css}">
</head>

<body>
    <header th:replace="~{/public/fragments/mainFragments.html :: header}"></header>
    <aside th:replace="~{/public/fragments/mainFragments.html :: lateral-socials}"></aside>
    <main>
        <h2>CHOOSE YOUR COMPONENTS</h2>
        <div id="build-pc-container">
            <img src="/img/public/pc-build/PC.png" alt="pc" id="pcImage">
            <form id="pc-form" th:action="@{/pedido/order}" method="post" th:object="${ordenador}">
                <div class="form-section">
                    <img
                        src="https://hiraoka.com.pe/media/mageplaza/blog/post/a/m/amd-ryzen-intel-core-cual-es-el-mejor-procesador_1.jpg">
                    <div class="form-section2">
                        <p>Processor:</p>
                        <div class="selects">
                            <!-- <select name="processor" id="marca-procesador">
                                <option>Select a Brand</option>
                                <option value="AMD">AMD</option>
                                <option value="Intel">Intel</option>
                            </select> -->
                            <select name="procesador" id="modelo-procesador" th:object="${ordenador.procesador}" class="modelo">
                                <option>Select a Model</option>
                                <option th:each="procesador: ${procesadores}" th:value="${procesador.nombre}"
                                    th:classappend="${procesador.precio}"
                                    th:text="${procesador.nombre} + ' - ' + ${procesador.precio} + '€'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <img
                        src="https://www.asus.com/microsite/motherboard/Intel-Raptor-Lake-Z790-H770-B760/es/v1/img/thumbnails/buying-guide-refreshed-z790-motherboard.jpg">
                    <div class="form-section2">
                        <p>Motherboard</p>
                        <div class="selects">
                            <!-- <select name="motherboard" id="motherboard">
                                <option>Select a Brand</option>
                                <option value="asus">ASUS</option>
                                <option value="msi">MSI</option>
                                <option value="gigabyte">GIGABYTE</option>
                            </select> -->
                            <select name="placa" id="motherboard-model" class="modelo" th:object="${ordenador.placa}">
                                <option>Select a Model</option>
                                <option th:each="placa: ${placas}" th:value="${placa.nombre}"
                                    th:classappend="${placa.precio}"
                                    th:text="${placa.nombre} + ' - ' + ${placa.precio} + '€'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <img src="https://tm.ibxk.com.br/2014/05/14/14163145206552.jpg" />
                    <div class="form-section2">
                        <p>RAM</p>
                        <div class="selects">
                            <!-- <select id="ram" >
                                <option>Select a Brand</option>
                                <option value="corsair">Corsair</option>
                                <option value="kingston">Kingston</option>
                                <option value="gskill">G.Skill</option>
                            </select> -->
                            <select name="ram" id="ram-model" class="modelo" th:object="${ordenador.ram}">
                                <option>Select a Model</option>
                                <option th:each="ram: ${rams}" th:value="${ram.nombre}" th:classappend="${ram.precio}"
                                    th:text="${ram.nombre} + ' - ' + ${ram.precio} + '€'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <img
                        src="https://www.techadvisor.com/wp-content/uploads/2024/02/best_ssds-1.jpg?quality=50&strip=all">
                    <div class="form-section2">
                        <p>Storage</p>
                        <div class="selects">
                            <!-- <select name="storage" id="storage" class="marca">
                                <option>Select a Brand</option>
                                <option value="samsung">Samsung</option>
                                <option value="western-digital">Western Digital</option>
                                <option value="kingston">Kingston</option>
                            </select> -->
                            <select name="almacenamiento" id="storage-model" class="modelo"
                                th:object="${ordenador.almacenamiento}">
                                <option>Select a Model</option>
                                <option th:each="almacenamiento: ${almacenamientos}" th:value="${almacenamiento.nombre}"
                                    th:classappend="${almacenamiento.precio}"
                                    th:text="${almacenamiento.nombre} + ' - ' + ${almacenamiento.precio} + '€'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <img src="https://storage-asset.msi.com/global/picture/image/feature/power/MPG/A850GF/kv-xs.jpg">
                    <div class="form-section2">
                        <p>Power supply</p>
                        <div class="selects">
                            <!-- <select name="power-supply" id="power-supply" class="marca">
                            <option>Select a Brand</option>
                            <option value="corsair">Corsair</option>
                            <option value="evga">EVGA</option>
                            <option value="seasonic">Seasonic</option>
                        </select> -->
                            <select name="fuente" id="power-supply-model" class="modelo"
                                th:object="${ordenador.fuente}">
                                <option>Select a Model</option>
                                <option th:each="fuente: ${fuentes}" th:value="${fuente.nombre}"
                                    th:classappend="${fuente.precio}"
                                    th:text="${fuente.nombre} + ' - ' + ${fuente.precio} + '€'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <img src="https://www.pcspecialist.es/images/landing/corsair/5000t/corsair-headline-sm.jpg">
                    <div class="form-section2">
                        <p>Case</p>
                        <div class="selects">
                            <!-- <select name="case" id="case" class="marca">
                                <option>Select a Brand</option>
                                <option value="nzxt">NZXT</option>
                                <option value="corsair">Corsair</option>
                                <option value="thermaltake">Thermaltake</option>
                            </select> -->
                            <select name="caja" id="case-model" class="modelo" th:object="${ordenador.caja}">
                                <option>Select a Model</option>
                                <option th:each="caja: ${cajas}" th:value="${caja.nombre}"
                                    th:classappend="${caja.precio}"
                                    th:text="${caja.nombre} + ' - ' + ${caja.precio} + '€'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <img src="https://hardzone.es/app/uploads-hardzone.es/2021/01/Tarjetas-graficas.jpg">
                    <div class="form-section2">
                        <p>Graphics Card</p>
                        <div class="selects">
                            <!-- <select name="graphics-card" id="graphics-card" class="marca">
                                <option>Select a Brand</option>
                                <option value="nvidia">NVIDIA</option>
                                <option value="amd">AMD</option>
                            </select> -->
                            <select name="tarjeta" id="graphics-card-model" class="modelo"
                                th:object="${ordenador.tarjeta}">
                                <option>Select a Model</option>
                                <option th:each="tarjeta: ${tarjetas}" th:value="${tarjeta.nombre}"
                                    th:classappend="${tarjeta.precio}"
                                    th:text="${tarjeta.nombre} + ' - ' + ${tarjeta.precio} + '€'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="buttons">
                    <button type="submit" id="submit">ORDER</button>
                    <button type="button" id="save">SAVE</button>
                    <button type="reset" id="reset">RESET</button>
                    <div id="info">
                        <div id="total">
                            <label for="total-modelo">Total modelo</label>
                            <p id="total-modelo">   </p>€
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer th:replace="~{/public/fragments/mainFragments.html :: footer}"></footer>
    <script>
        window.addEventListener('load', () => {
            const selects = document.querySelectorAll('.modelo');
            const totalModelo = document.getElementById('total-modelo');
            console.log(totalModelo);
            totalModelo.textContent = 0;
            selects.forEach(select => {
                select.addEventListener('change', () => {
                    let total = 0;
                    selects.forEach(select => {
                        let precio = select.options[select.selectedIndex].className;
                        total += Number(precio);
                    });
                    totalModelo.textContent = total;
                });
            });
        });
    </script>
    <script src="/js/lateral-socials.js"></script>


</html>