<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="icon" href="/img/public/header/icono.png" type="image/jpg">
    <div th:insert="~{/public/fragments/mainFragments.html :: public-styles}"></div>
    <link rel="stylesheet" th:href="@{/css/public/main.css}">
</head>

<body>
    <header th:replace="~{/public/fragments/mainFragments.html :: header}"></header>
    <aside th:replace="~{/public/fragments/mainFragments.html :: lateral-socials}"></aside>
    <main>
        <section id="section-1" class="section-main">
            <video src="/video/video-presentation.mp4"></video>
            <div>
                <h2>THE BEST PC BUILDERS</h2>
                <h2>CHOOSE THE COMPONENTS, WE BUILD IT FOR YOU</h2>
                <p>
                    At our company, we're known for our top-notch PC builds. With carefully selected components,
                    tailored to your needs, our skilled team crafts personalized computing experiences. Offering
                    competitive prices and uncompromising quality, we deliver performance and reliability in every
                    build.
                </p>
                <button>BUILD NOW</button>
            </div>
        </section>
    </main>
    <footer th:replace="~{/public/fragments/mainFragments.html :: footer}"></footer>
    <script src="/js/lateral-socials.js"></script>
</body>

</html>