<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW USER</title>
    <link rel="icon" href="/img/public/header/icono.png" type="image/jpg">
    <div th:insert="~{/public/fragments/mainFragments.html :: public-styles}"></div>
    <link rel="stylesheet" th:href="@{/css/public/form.css}">
</head>

<body>
    <header th:replace="~{/public/fragments/mainFragments.html :: header}"></header>
    <main class="maint2">
        <h2>Editar Usuario</h2>
        <div class="form-t1">
            <form th:action="@{/usuarios/edit/submit}" th:object="${usuario}" method="post">
                <input type="text" th:field="*{id}" hidden>
                <div class="campo">
                    <p for="nombre">Nombre:</p>
                    <input type="text" id="nombre" th:field="*{nombre}">
                </div>
                <div class="campo">
                    <p>EMAIL: </p>
                    <input type="text" id="correo" th:field="*{email}">
                </div>
                <div class="buttons">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="~{/public/fragments/mainFragments.html :: footer}"></footer>
</html>