<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW USER</title>
    <link rel="icon" href="/img/public/header/icono.png" type="image/jpg">
    <div th:insert="~{/public/fragments/mainFragments.html :: public-styles}"></div>
    <link rel="stylesheet" th:href="@{/css/public/form.css}">
</head>

<body>
    <header th:replace="~{/public/fragments/mainFragments.html :: header}"></header>
    <main class="maint2">
        <h2>New User</h2>
        <div class="form-t1">
            <form th:action="@{/usuarios/new/submit}" th:object="${usuario}" method="post">
                <div class="campo">
                    <p>Username: </p>
                    <input type="text" id="nombre" th:field="*{nombre}">
                </div>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></span>
                <div class="campo">
                    <p>Email: </p>
                    <input type="text" id="correo" th:field="*{email}">
                </div>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                <div class="campo">
                    <p>Password: </p>
                    <input type="password" id="contrasena" th:field="*{password}">
                </div>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
                <div class="campo">
                    <p>Rol: </p>
                    <select id="rol" th:field="*{rol}">
                        <option value="COSTUMER">COSTUMER</option>
                        <option value="EDITOR">EDITOR</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                </div>
                <span th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></span>
                <div  class="buttons">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="~{/public/fragments/mainFragments.html :: footer}"></footer>
</html>