#warning-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

#title{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    color:rgb(240, 0, 0);
}

#security-icon{
    width: 400px;
    height: 400px;
}

#tableAccounts{

   display: flex;
   flex-direction: column;
    align-items: center;
    gap: 20px;
}